<!DOCTYPE html>
<html>
<head> 
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="google-site-verification" content="5ii35QRyLO0OQoMAq_HRNqAURXwrusQ9LMOaDCbE2DQ" />
	    <title>{{ page.title }}</title>
<link rel="stylesheet" type="text/css" href="/css/typo.css" />
<link rel="stylesheet" type="text/css" href="/css/guolilong.css" />
		    <script type="text/javascript">

		      var _gaq = _gaq || [];
		        _gaq.push(['_setAccount', 'UA-31298041-1']);
			  _gaq.push(['_trackPageview']);

			    (function() {
			         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
					   })();

</script>
</head>
<div id="navbar">
  <a href="http://guolilong2012.github.com/index.html">HOME</a> &nbsp; 
  <a href="http://guolilong2012.github.com/sweets/">SWEETS</a>
</div>
<div id="wrapper" class="typo">
  <h1 style="text-align:center">{{ page.title }}</h1>
  <br>
  {{ content }}
  <br>
</div>
</html>
